<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  
  <body>
    <!-- Navigation-->
    <%- include('./partials/nav.ejs') %>

    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/wp6284385-computer-programmer-wallpapers.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Sorry This Page Doesn't Exist.</h1>
              <span class="subheading"
                >Please Visit Our <a href="/blogs" style="color: #fff;font-weight: 800;font-size: 30px;">Home</a> Page.</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Footer-->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer JS Code -->
    <%- include('./partials/footer-js.ejs') %> 
  </body>
</html>
