<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- Navigation-->
    <%- include('./partials/nav.ejs') %> 

    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/wp11263343-desktop-iron-man-hd-wallpapers.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">I'm a <h3>Web Developer.</h3></span>
              <span class="subheading">It's what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="personal-img d-flex justify-content-center">
              <img
                src="./assets/img/IMG_1725.jpg"
                class="rounded-4 mx-auto"
                alt="Gideon"
                style="width: 80%; max-width: 300px"
              />
            </div>
            <p>
              Web Development is a very cool hobby I learnt a year back. It has shown me many possibilities in computer science.
            </p>
            <p>
              I'm looking forward to exploring new horizons in the field of Software Development.
            </p>
            <p>
              I dedicate this website to Natasha.
              😜
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer JS Code -->
    <%- include('./partials/footer-js.ejs') %> 
  </body>
</html>
